.main-hero {
  position: relative;
}
.main-hero__image {
  margin-top: -22px;
  max-width: 100%;
  height: 389px;
}
.main-hero__container {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/text-sedona-index.svg");
    width: 81px;
    height: 14px;
  }
}
