.page-footer__heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: $main-black;
  margin-top: 31px;
  margin-bottom: 55px;
}

.page-footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.page-footer__link {
  position: relative;
  padding: 15px 22px;
  background-color: $main-blue;
  margin: auto 5px;

  &::after {
    content: "";
    position: absolute;
    filter: $white-svg-filter;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.page-footer__link--twitter {
  &::after {
    background-image: url("../img/icon-twitter.svg");
    width: 18px;
    height: 14px;
    top: 17px;
    left: 15px;
  }
}

.page-footer__link--fb {
  &::after {
    background-image: url("../img/icon-facebook.svg");
    width: 9px;
    height: 18px;
    top: 14px;
    left: 17px;
  }
}

.page-footer__link--youtube {
  &::after {
    background-image: url("../img/icon-youtube.svg");
    width: 20px;
    height: 14px;
    top: 17px;
    left: 10px;
  }
}

.page-footer__wrap {
  margin-top: 43px;
  display: flex;
  justify-content: center;
}

.page-footer__creator {
  font-size: 14px;
  line-height: 1.86;
}

.page-footer__logo svg {
  width: 27px;
  height: 34px;
  margin-top: 10px;
  margin-left: 10px;

  &:hover {
    filter: $blue-svg-filter;
  }

  &:active {
    filter: $grey-svg-filter;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__wrap {
    margin-top: 0;
  }

  .page-footer__heading {
    margin-top: 40px;
    margin-left: 10px;
  }

  .page-footer__creator {
    margin: -8px 12px 0 0;
  }

  .page-footer__link {
    position: relative;
    height: 46px;
    width: 48px;
    background-color: $main-blue;
    margin: auto 5px;

    &::after {
      content: "";
      position: absolute;
      filter: $white-svg-filter;
    }
  }

  .page-footer__list {
    margin-top: -14px;
    margin-right: 13px;
  }

  .page-footer__logo svg {
    margin: -10px 8px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-bottom: 30px;
  }

  .page-footer__heading {
    margin-left: -7px;
  }

  .page-footer__heading--form {
    margin-top: 50px;
  }

  .page-footer__list {
    margin-top: -10px;
  }

  .page-footer__logo svg {
    margin: -10px -5px 0 0;
  }
}
