.photo-main__image {
  position: relative;
  height: 160px;
  width: 100%;
  object-fit: none;
}

.photo-main__logo {
  display: block;
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 229px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .photo-main__image {
    height: 290px;
    width: 100%;
    object-fit: none;
  }

  .photo-main__logo {
    width: 460px;
    height: 80px;
    top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .photo-main {
    max-width: 1200px;
    margin: auto;
  }
  .photo-main__image {
    height: 302px;
    width: 100%;
  }

  .photo-main__logo {
    width: 460px;
    height: 80px;
    top: 105px;
  }
}
