.photo-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -35px;
}

.photo-main__image {
  height: 150px;
  width: 100%;
  object-fit: none;
}
.photo-main__container {
  &::after {
    content: "";
    position: absolute;
    left: 45px;
    top: 52px;
    width: 229px;
    height: 39px;
    background-size: 229px 39px;
    background-image: url("../img/text-sedona.svg");
  }
}
@media (min-width: $tablet-width) {
  .photo-hero {
    margin-top: 0;
  }
  .photo-main__image {
    height: 290px;
    width: 100%;
    object-fit: none;
  }
  .photo-main__container {
    &::after {
      left: 154px;
      top: 90px;
      width: 460px;
      height: 80px;
      background-size: 460px 80px;
      background-image: url("../img/text-sedona.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-main__image {
    height: 302px;
    width: 1200px;
  }

  .photo-visual__img {
    width: 400px;
    height: 267px;
  }

  .photo-visual__img--sunset {
    width: 1200px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
  .photo-main__container {
    background-position-x: center;
    &::after {
      background-position-x: center;
      left: 370px;
      top: 103px;
      width: 460px;
      height: 80px;
      background-size: 460px 80px;
      background-image: url("../img/text-sedona.svg");
    }
  }
}
