.photo-doubts {
  margin: auto;
  text-align: center;
  margin-top: 33px;
}

.photo-doubts__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: $light-black;
  max-width: 250px;
  margin: auto;
}

.photo-doubts__description {
  font-size: 14px;
  line-height: 1.71;
  color: $light-black;
  max-width: 246px;
  margin: auto;
  margin-top: 33px;
}

.photo-doubts__img {
  margin-top: 35px;
  width: 100%;
}

.photo-doubts__controls {
  width: 280px;
  height: 66px;
  background-color: #e6e6e6;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: -5px;
  position: relative;
  margin-bottom: 75px;
}

.photo-doubts__progress-bar {
  width: 280px;
  height: 45px;
  opacity: 0.6;
  background-color: $main-black;
  position: absolute;
  top: -43px;

  &::before {
    content: "";
    position: absolute;
    width: 235px;
    height: 3px;
    opacity: 0.3;
    background-color: $white;
    top: 21px;
    left: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    top: 19px;
    left: 57px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.photo-doubts__repeat {
  position: absolute;
  top: 25px;
  left: 22px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-video-replay.svg");
    width: 16px;
    height: 20px;
    filter: $grey-svg-filter;
    left: 3px;
  }

  &:hover::after {
    filter: invert(17%) sepia(1%) saturate(2887%) hue-rotate(349deg)
      brightness(87%) contrast(85%);
  }

  &:active::after {
    filter: invert(78%) sepia(0%) saturate(1%) hue-rotate(360deg)
      brightness(102%) contrast(88%);
  }
}

.photo-doubts__subs {
  position: absolute;
  top: 25px;
  right: 86px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-video-subtitles.svg");
    width: 32px;
    height: 20px;
    filter: $grey-svg-filter;
    left: -5px;
  }

  &:hover::after {
    filter: invert(17%) sepia(1%) saturate(2887%) hue-rotate(349deg)
      brightness(87%) contrast(85%);
  }

  &:active::after {
    filter: invert(78%) sepia(0%) saturate(1%) hue-rotate(360deg)
      brightness(102%) contrast(88%);
  }
}

.photo-doubts__fullscreen {
  position: absolute;
  top: 25px;
  right: 26px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-video-fullscreen.svg");
    width: 20px;
    height: 20px;
    filter: $grey-svg-filter;
    left: -5px;
  }

  &:hover::after {
    filter: invert(17%) sepia(1%) saturate(2887%) hue-rotate(349deg)
      brightness(87%) contrast(85%);
  }

  &:active::after {
    filter: invert(78%) sepia(0%) saturate(1%) hue-rotate(360deg)
      brightness(102%) contrast(88%);
  }
}

@media (min-width: $tablet-width) {
  .photo-doubts__heading {
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 370px;
  }

  .photo-doubts__controls {
    background-color: transparent;
    width: 648px;
    height: 93px;
    margin-top: -50px;
    margin-bottom: 0;
  }

  .photo-doubts__progress-bar {
    width: 100%;
    height: 93px;
    opacity: 0.6;

    &::before {
      width: 385px;
      height: 3px;
      opacity: 0.2;
      top: 45px;
      left: 100px;
    }

    &::after {
      top: 41px;
      left: 205px;
    }
  }

  .photo-doubts__repeat {
    &:hover::after {
      filter: $white-svg-filter;
      opacity: 0.6;
    }

    &:active::after {
      filter: $white-svg-filter;
      opacity: 0.3;
    }

    &::after {
      top: -35px;
      left: 13px;
      filter: $white-svg-filter;
    }
  }

  .photo-doubts__subs {
    &::after {
      top: -33px;
      left: -25px;
      filter: $white-svg-filter;
    }

    &:hover::after {
      filter: $white-svg-filter;
      opacity: 0.6;
    }

    &:active::after {
      filter: $white-svg-filter;
      opacity: 0.3;
    }
  }

  .photo-doubts__fullscreen {
    &::after {
      top: -33px;
      left: -20px;
      filter: $white-svg-filter;
    }

    &:hover::after {
      filter: $white-svg-filter;
      opacity: 0.6;
    }

    &:active::after {
      filter: $white-svg-filter;
      opacity: 0.3;
    }
  }

  .photo-doubts__img {
    width: 648px;
    height: 499px;
    margin: auto;
  }

  .photo-doubts__description {
    margin-top: -3px;
    margin-bottom: 73px;
    max-width: 415px;
  }

  .photo-doubts {
    margin: 55px auto auto;
  }
}

@media (min-width: $desktop-width) {
  .photo-doubts__img {
    width: 66%;
    margin: auto;
  }

  .photo-doubts__progress-bar {
    width: 100%;
  }

  .photo-doubts__controls {
    width: 66%;
  }

  .photo-doubts {
    margin-top: 60px;
    margin-bottom: 73px;
  }
}
