$white: #ffffff;
$main-blue: #81b3d2;
$blue-svg-filter: invert(77%) sepia(32%) saturate(674%) hue-rotate(174deg)
  brightness(89%) contrast(84%);
$light-black: #333333;
$main-black: #000000;
$grey-background: #ededed;
$white-svg-filter: invert(98%) sepia(0%) saturate(3%) hue-rotate(324deg)
  brightness(160%) contrast(100%);
$grey-svg-filter: invert(40%) sepia(18%) saturate(312%) hue-rotate(161deg)
  brightness(93%) contrast(87%);
$tablet-width: 768px;
$desktop-width: 1150px;
$white-three: #f2f2f2;
